.app-stores-container {
    text-align: center;
    padding: 1rem;
}

.app-stores-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apple-image-card{
    position: relative;
    width: 15rem;
    margin: 1em 0;
}


.google-image-card {
    position: relative;
    width: 15rem;
    margin: 1em 0;
}

.huawei-image-card {
    position: relative;
    width: 15rem;
    margin: 1em 0;
}

@media only screen and (max-width: 700px) {
    .app-stores-container{
        padding: 0;
    }
}