// VARIABLES
$black: black;
$red: red;
$green: rgb(0, 204, 0);
$colour-4: orange;
$colour-5: purple;
$yellow: rgba(245, 220, 12, 1);

// MIXINS
@mixin drop-shadow {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

@mixin button-shared($button-color: $black) {
  border: 1px solid $button-color;
  color: $button-color;
  -moz-box-shadow: 0 0 3px $button-color;
  -webkit-box-shadow: 0 0 3px $button-color;
  box-shadow: 0px 0px 3px $button-color;
  transition: 0.7s;

  &:hover {
    -moz-box-shadow: 0 0 6px $button-color;
    -webkit-box-shadow: 0 0 6px $button-color;
    box-shadow: 0px 0px 6px $button-color;
    // background-color: rgba(255, 255, 255, 0.7);
    background-color: $button-color;
    // opacity:30%;
    color: white;
  }
}

@mixin glow {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 151px #f00;

  &:hover {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 92px #f00,
      0 0 102px #f00, 0 0 151px #f00;
  }
}

.button-black {
  @include button-shared($black);
  background-color: $black;
}

.button_green_dark {
  @include button-shared($green);
  background-color: $black;
  cursor: pointer;
}

.button_red_dark {
  @include button-shared($red);
  background-color: $black;
  cursor: pointer;
}

.button_green_light {
  @include button-shared($green);
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 5rem;
  font-family: "Poppins";
  font-size: 1.1rem;
  margin-bottom: 1rem;
  background: rgb(47, 122, 31);
  align-items: center;
  color: #fff;
  width: 100%;
}

.button_red_light {
  @include button-shared($red);
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 5rem;
  font-family: "Poppins";
  font-size: 1.1rem;
  margin-bottom: 9rem;
  background: rgb(158, 34, 34);
  color: white;
  align-items: center;
  width: 100%;
}

.button_orange_light {
  @include button-shared($yellow);
  cursor: pointer;
  font-family: "Poppins";
  background-color: #0f0f0f;
  color: #fff;
  border-width: 5px;
  width: 8rem;
  align-self: center;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.7s;
  margin-bottom: 1.5rem;
  &:hover {
    background-color: $yellow;
    color: #000000;
    border: 1px solid $yellow;
  }
  width: 100%;
}

.button_green_small {
  @include button-shared($green);
  background: rgb(47, 122, 31);
  color: white;
  align-items: center;
}

.button_red_small {
  @include button-shared($red);
  background: rgb(158, 34, 34);
  color: white;
  align-items: center;
}

.button_green_disabled {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 5rem;
  font-family: "Poppins";
  font-size: 1.1rem;
  margin-bottom: 1rem;
  background: rgb(80, 80, 80);
  align-items: center;
  color: #fff;
}

.button_red_disabled {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 5rem;
  font-family: "Poppins";
  font-size: 1.1rem;
  margin-bottom: 9rem;
  background: rgb(80, 80, 80);
  color: white;
  align-items: center;
}

.button_orange_disabled {
  font-family: "Poppins";
  background-color: #0f0f0f;
  color: #fff;
  border-width: 5px;
  width: 8rem;
  align-self: center;
  transition: 0.7s;
  margin-bottom: 1.5rem;
  background: rgb(80, 80, 80);
}

#home {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #000000 0%, #090a0f 100%);
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 350px;
  display: flex;
  background-size: cover;
}

#about {
  background: opacity($color: #ffffff80);
  padding-top: 100px;
}

#title {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-top: -20px;
  padding-left: 200px;
  width: 160%;
  line-height: 100%;
}

//probably useless
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: normal;
  line-height: 110%;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@media only screen and (max-width: 800px) {
  #company {
    padding-top: 35rem;
    padding-bottom: 35rem;
  }
}