// VARIABLES
$black: black;
$red: red;
$green: rgb(0, 204, 0);
$colour-4: orange;
$colour-5: purple;
$main_font: arial;

// MIXINS
@mixin drop-shadow {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

@mixin button-shared($button-color: $black) {
  border: 1px solid $button-color;
  color: $button-color;
  -moz-box-shadow: 0 0 3px $button-color;
  -webkit-box-shadow: 0 0 3px $button-color;
  box-shadow: 0px 0px 3px $button-color;
  background-color: $black;
  transition: 0.7s;

  &:hover {
    -moz-box-shadow: 0 0 6px $button-color;
    -webkit-box-shadow: 0 0 6px $button-color;
    box-shadow: 0px 0px 6px $button-color;
    // background-color: rgba(255, 255, 255, 0.7);
    background-color: $button-color;
    // opacity:30%;
    color:white;
  }
}

.button-black {
  @include button-shared($black);
}

.button-green {
  @include button-shared($green);
}

.button-red {
  @include button-shared($red);
}


// RESETS
