#error-msg-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  #error-msg-modal {
    z-index: 1000;
    position: relative;
    width: 600px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-align: center;
    p {
      color: white;
    }
    button {
      @include button-shared($red);
      position: absolute;
      background: transparent;
      top: 5px;
      right: 5px;
      padding: 5px;
      border-radius: 5px;
      height: 25px;
      width: 25px;
    }
  }
}

#confirm-msg-container {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  #confirm-msg-modal {
    width: 600px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-align: center;
    div {
      display: flex;
      justify-content: space-evenly;
      button {
        width: 30%;
      }
    }
  }
}
