
.Tradewith {
  font-family: Poppins;
}

.Tradewith b {
  float: right;
  margin-right: 35%;
  overflow: hidden;
  position: relative;
  height: 2rem;
}
.Tradewith .innerTradewith {
  font-size: 2.5rem;
  display: inline-block;
  color: gray;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  padding-right: 2rem;


/*animation*/
-webkit-animation:move 10s;
   -moz-animation:move 10s;
    -ms-animation:move 10s;
     -o-animation:move 10s;
        animation:move 10s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:3s;
   -moz-animation-delay:3s;
    -ms-animation-delay:3s;
     -o-animation-delay:3s;
        animation-delay:3s;
}
@keyframes move{
0%  { top: 0rem; }
20% { top: -2rem; }
40% { top: -2rem; }
60% { top: -2rem; }
80% { top: -2rem; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0rem; }
    20% { top: -4.1rem; }
    40% { top: -7.6rem; }
    60% { top: -11.1rem; }
    80% { top: -14.6rem; }
}

@media only screen and (max-width: 2570px) {
  .Tradewith .innerTradewith {
    font-size: 5rem;
  }
  .Tradewith b{
    height: 5rem;
  }

  @keyframes move {
    0%  { top: 0rem; }
    20% { top: -5rem; }
    40% { top: -10rem; }
    60% { top: -15rem; }
    80% { top: -20rem; }
}
}

@media only screen and (max-width: 2000px) {
  .Tradewith .innerTradewith {
    font-size: 2.5rem;
  }
  .Tradewith b{
    height: 2.5rem;
  }

  @keyframes move {
    0%  { top: 0rem; }
    20% { top: -4rem; }
    40% { top: -7.5rem; }
    60% { top: -11rem; }
    80% { top: -14.5rem; }
}
}

@media only screen and (max-width: 900px) {
  .Tradewith b{
    height: 3rem;
  }

  @keyframes move {
    0%  { top: 0rem; }
    20% { top: -3rem; }
    40% { top: -6rem; }
    60% { top: -9rem; }
    80% { top: -12rem; }
}
}

@media only screen and (max-width: 600px) {
  .Tradewith b{
    height: 2.5rem;
  }

  @keyframes move {
    0%  { top: 0rem; }
    20% { top: -2.5rem; }
    40% { top: -5rem; }
    60% { top: -7.5rem; }
    80% { top: -10rem; }
}

.Tradewith .innerTradewith {
  padding-right: 0;
}
}