@media only screen and (max-width: 2570px) {
    .hero-page-flex-block {
        padding-left: 22rem;
    }
        .homepage-title {
        font-size: 15rem;
        }
        }
        
        .homepage-title {
            font-size: 5rem;
        }
        
        .hero-video {
            position: absolute;
            z-index: -1;
            width: 100%;
            left: 0rem;
            top: 0rem;
            // height: 100%;
}

.homepage-heading2 {
}

.homepage-heading3 {

}

.get-started-button {
    background-color: -webkit-linear-gradient(white, rgb(228, 114, 99));
        font-size: 1rem;
}

@media only screen and (max-width: 1500px) {
    #graphic_crypto {
        // test
        }
        
        .hero-page-flex-block {
            display: flex;
            place-items: center;
            padding-left: 4.5rem;
            margin-left: 30%;
    }
}

@media only screen and (max-width: 800px) {

#home {

}
.hero-page-flex-block {
padding-left: 1rem;
}


.homepage-title {
}
.homepage-heading2 {
}

.homepage-heading3 {
}

.get-started-button {
}

#graphic_crypto {
}

.flex-block {
}
}