.horizontal-card {
  color: black;
  .card {
    min-width: 64vw;
    max-height: 30vh;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    img {
      width: 50%;
      height: 100%;
      border-radius: 25px 0 0 25px;
      object-fit: cover;
    }

    @media (max-width: 1000px) {
      .card-news-details {
        justify-content: center;
        align-items: center;
      }
    }

    @media (max-width: 450px) {
      .card {
        margin-top: 0;
        margin: 10px 10px;
      }

      .news-title {
        line-height: 1;
      }
    }
  }
  .card-news-paragraph {
    margin: 1.2em 0em;
    color: rgb(34, 33, 33);
    p {
      font-size: clamp(12px, 2.5vw, 15px);
    }
  }

  .card-news-minute {
    position: absolute;
    color: rgb(97, 97, 97);
    bottom: 1px;
    right: 30px;
  }

  .card-news-title {
    color: black;
  }
}

@media (max-height: 450px) {
  .horizontal-card {
    b {
      justify-content: center;
      align-items: center;
    }
    p {
      display: none;
    }
  }
}
