// MEDIA QUERY, GRID, FLEXBOX, ETC

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  display: block;
}

.flex-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;

  div {
    width: 100%;
    // padding:5rem;
  }
}

.footer-flex {
  align-items: flex-start;
  padding: 1rem 0;
}

.footer-info {
  padding: 1rem 5rem;
  // border-right: thin solid grey;
}

.footer-socials {
  padding: 1rem 3rem;
  border-left: thin solid grey;
  border-right: thin solid grey;
}

.footer-socials-icons {
  margin-top: 1em;
  color:dimgrey;
  font-size: 2.5rem;
}

.footer-apps-store {
  // border-left: thin solid grey;
}

// .block-flex{
//   display:block;
//   width:100%;
// }

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.cards-container {
  display: flex;
}

.footer {
  background-color: $black;
  color:white;
  bottom: 0;
  width: 100%;
}



@media only screen and (max-width: 1000px) {
  // .block-flex{
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  // }
  .cards-container {
    flex-wrap: wrap;
  }
  .footer {
    display: block;
    padding:0;
  }
}

@media only screen and (max-width: 700px) {
  // .flex-block {
    // display: block;
  // }
  .footer-flex {
    flex-direction: column;
  }

  .footer-info {
    padding: 0;
  }

  .footer-socials {
    padding: 0;
  }

  .footer-socials-icons {
    font-size: 1.5rem;
  }
}
