// MEDIA QUERY, GRID, FLEXBOX, ETC

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  display: block;
}

.flex-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;

  div {
    width: 100%;
    // padding:5rem;
  }
}

.block-flex{
  display:block
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.cards-container {
  display: flex;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
}



@media only screen and (max-width: 1000px) {
  .block-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .cards-container {
    flex-wrap: wrap;
  }
  .footer {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .flex-block {
    display: block;
  }
}
