.card-horizontal-left {
  margin: 0;
  width: 100%;
  margin-bottom: 5rem;
  background-image: linear-gradient(to bottom right, black, grey, black);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  @include drop-shadow;
  display: flex;
  height: 350px;
  margin-bottom: 100px;
  border-radius: 1rem;
  align-items: center;

  img {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-radius: 1rem;
  }

  div {
    width: 60%;
  }
}

.card-horizontal-right {
  width: 100%;
  margin-bottom: 5rem;
  float: right;
  margin-left: 100%;
  background-image: linear-gradient(to bottom left, black, grey, black);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  @include drop-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  margin-bottom: 100px;
  border-radius: 1rem;

  img {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-radius: 1rem;
  }

  div {
    width: 60%;
  }
}

#root {
    // background-color: lightgrey;
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
}

@media only screen and (max-width: 900px) {
  #team-card-images-small {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .member-name {
    text-align: center;
    justify-content: center;
  }

  .card-horizontal-left,
  .card-horizontal-right {
    height: fit-content;
    justify-content: justify;
    width: 100%;
    font-size: smaller;
    flex-direction: column;
    img{
        height:20vh;
    }
  }
}
