// .team-card-tags {
//     padding-left: 0;
//     float: left;
//     display: inline;

//     li {
//         font-size: smaller;
//         padding: 10px;
//         color: white;
//         background-color: rgba(251, 64, 77, 1);
//         margin: 5px;
//         text-align: left;
//         width: 10rem;
//     }
// }

// .team-card-details {
//     padding-left: 1rem;
// }

// .team-card-name-font {
//     font-family: "Poppins";
//     font-size: 20px;
//     color: $black;
//     font-weight: bolder;
//     display: flex;
//     width: 25rem;
//     text-align: left;
// }

// .team-card-role-font {
//     font-family: "Poppins";
//     color: $black;
//     display: flex;
//     justify-content: flex-start;
//     padding-right: 1rem;
//     text-align: left;
//     width: 25rem;
// }

.card-horizontal-left {
    margin: 0;
    width: 50rem;
    margin-bottom: 5rem;
  background-image: linear-gradient(to bottom right,black, grey, black);
    // -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    @include drop-shadow;
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        height: 350px;
        // width: 100%;
        // margin: auto;
        // margin-top: 100px;
        margin-bottom: 100px;
        border-radius: 1rem;
        // background-color: black;
        align-items: center;
    
        img {
            height: 100%;
            width: 40%;
            object-fit: cover;
            border-radius: 1rem;
        }
    
        div {
            width: 60%;
        }
}

.card-horizontal-right {
    width: 50rem;
    margin-bottom: 5rem;
    float: right;
    margin-left: 100%;
  background-image: linear-gradient(to bottom left,black, grey, black);
    // -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    @include drop-shadow;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 350px;
        // width: 100%;
        // margin: auto;
        // margin-top: 100px;
        margin-bottom: 100px;
        border-radius: 1rem;
        // background-color: black;
    
        img {
            height: 100%;
            width: 40%;
            object-fit: cover;
            border-radius: 1rem;
        }
    
        div {
            width: 60%;
        }
}

.meet-the-team-page {
    padding: 5rem;
    padding-top: 2rem;
    background-color: black;
}

#root {
    // background-color: lightgrey;
    overflow-x: hidden;
}

@media only screen and (max-width: 900px) {

    #team-card-images-small {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .member-name {
        text-align: center;
        justify-content: center;
    }

    .card-horizontal-left {
        width: 100%;
        height: fit-content;
        justify-content: justify;
        width: 95%;
        font-size: smaller;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;

        // div{
        //     margin: 0 9rem;
        // }
    }

    .card-horizontal-right {
        width: 100%;
        height: fit-content;
        justify-content: justify;
        width: 95%;
        font-size: smaller;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;
    }

    .meet-the-team-page {
        padding: 1rem;
    }

}