@import "./styles/base.scss";
@import "./styles/component.scss";
@import "./styles/layout.scss";
@import "./styles/newspage.scss";
@import "./styles/horizontal-card.scss";
@import "./styles/astronout.scss";
@import "./styles/trade.scss";
@import "./styles/stars.scss";
@import "./styles/signin-signup.scss";
@import "./styles/team-cards.scss";
@import "./styles/home-hero.scss";
@import "./styles/user-profile.scss";
@import "./styles/transaction-history.scss";
@import "./styles/home_hero_vertical_roll.scss";
@import "./styles/glassmorphism.scss";

#home {
  background-color: $black;
  color: white;
}

.landing_hero_logo {
  text-align: center;
}
