@import "./styles/base.scss";
@import "./styles/component.scss";
@import "./styles/layout.scss";
@import "./styles/newspage.scss";
@import "./styles/horizontal-card.scss";
@import "./styles/astronout.scss";
@import "./styles/signin-signup.scss";
@import "./styles/team-cards.scss";
@import "./styles/home-hero.scss";
@import "./styles/user-profile.scss";
@import "./styles/transaction-history.scss";

#root {
  overflow-x: hidden;
}

#home {
  background-color: $black;
  color: white;
}

.landing_hero_logo {
  text-align: center;
}

// probably useless
.landing_hero_graphics {
  position: relative;
  img {
    width: 50%;
  }
}

#graphic_crypto {
  position: absolute;
  top: -27rem;
  right: -75%;
  width: 170%;
}

.image2 {
  width: 40%;
  #graphic_crypto2 {
    position: absolute;
    margin-top: 2rem;
    right: 25%;
    width: 80%;
  }
}

@media only screen and (max-width: 1500px) {
  .landing_hero_graphics {
    img {
      width: 50%;
    }
  }
  #graphic_desktop {
    bottom: -3rem;
    right: 40%;
  }
  #graphic_crypto {
    top: -8rem;
    right: 10%;
  }
}

@media only screen and (max-width: 1000px) {
  #graphic_desktop {
    width: 350px;
    margin: auto;
    top: -5rem;
    right: 0;
  }
  #graphic_crypto {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .landing_hero_graphics {
    display: none;
  }
  .image2 {
    width: 100%;
    position: absolute;
  }
}
